.evaluation {
    float: right;
    border: 1px solid rgba(27,31,35,0.15);
    display: block;
    padding: 9px 10px 10px;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    background-color: #f6f8fa;
}

.evaluation .evaluation_option {
    display: none;
}

.areyousure {
    display: none;
}

.evaluation div.evaluations span {
    border: 0 solid #DDDDDD;
    cursor: pointer;
    float: left;
    margin: 0 0.2em;
    padding: 0 0.5em;
}

.evaluations {
    display: inline;
    float: right;
}

.evaluation #evaluation_approve {
    color: #39aa56;
    display: block;
    width: 8em;
    padding: 0 .5em;
    border: 1px solid #39aa56;
    border-radius: 14px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    text-decoration: none !important;
    line-height: 1.45;
}

.evaluation #evaluation_approve:hover {
    color: white;
    background-color: #39aa56;
}


.evaluation #evaluation_disapprove {
    color: #db4545;
    display: block;
    width: 8em;
    padding: 0 .5em;
    border: 1px solid #db4545;
    border-radius: 14px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    text-decoration: none !important;
    line-height: 1.45;
}

.evaluation #evaluation_disapprove:hover {
    color: white;
    background-color: #db4545;
}
