.evaluation {
    float: right;
    border: 1px solid rgba(27,31,35,0.15);
    display: block;
    padding: 9px 10px 10px;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    background-color: #f6f8fa;
}

.evaluation .evaluation_option {
    display: none;
}

.areyousure {
    display: none;
}

.evaluation div.evaluations span {
    border: 0 solid #DDDDDD;
    cursor: pointer;
    float: left;
    margin: 0 0.2em;
    padding: 0 0.5em;
}

.evaluations {
    display: inline;
    float: right;
}

.evaluation #evaluation_approve {
    color: #39aa56;
    display: block;
    width: 8em;
    padding: 0 .5em;
    border: 1px solid #39aa56;
    border-radius: 14px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    text-decoration: none !important;
    line-height: 1.45;
}

.evaluation #evaluation_approve:hover {
    color: white;
    background-color: #39aa56;
}


.evaluation #evaluation_disapprove {
    color: #db4545;
    display: block;
    width: 8em;
    padding: 0 .5em;
    border: 1px solid #db4545;
    border-radius: 14px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    text-decoration: none !important;
    line-height: 1.45;
}

.evaluation #evaluation_disapprove:hover {
    color: white;
    background-color: #db4545;
}

/*For the folders view*/

/*div.row-evaluations li:hover{
    font-size: 130%;
}*/

.emptyTitle h2{

    display: none;
}

th.approve{
    background-color: #39aa56 !important;
    color:#ffffff !important;
}

th.disapprove{
    background-color: #db4545 !important;
    color:#ffffff !important;
}

li.approve{
    background-color: #deecdc !important;
    position: relative;
    border-right: 1px solid #fff;
    color:#deecdc !important;
}

li.approve:hover{
    background-color: #39aa56 !important;
    color:#ffffff !important;
}

li.approve:hover path{
    display: none;
}

li.disapprove{
    background-color: #fce8e2 !important;
    border-right: 1px solid #fff;
    position: relative;
    color:#fce8e2 !important;
}

li.disapprove:hover{
    background-color: #db4545 !important;
    color:#ffffff !important;
}

li.disapprove:hover path{
    display: none;
}

.icon{
    position: absolute;
    width: 18px;
    height: 18px;
    margin:auto;
    right: 0;
    top: 0;
    left: 0;
    bottom:0;
}

.myicon{
    /*position: absolute;*/
    width: 8px;
    height: 8px;
    margin:auto;
    right: 0;
    top: 0;
    left: 0;
    bottom:0;
}

.mybutton {
    font: bold 14px;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 4px 12px 4px 12px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
      }


/* grid layout */

.row-personaldata h2 {
    font-size: 18px;
    font-weight: bold;
}

.row-personaldata,
.row-date{
    padding-left: 1em;
}

.evaluation-row {
    border: 1px solid #eaeaea;
    border-radius: 2px;
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 4fr 2fr 6fr;
    grid-gap: 10px;
}

.evaluation-card {
    background-color: #f1f1f1;
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.evaluation-row1 {
    border: 1px solid #eaeaea;
    border-radius: 2px;
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 4fr 3fr 1fr;
    grid-gap: 20px;
}

.evaluation-card1 {
    background-color: #f1f1f1;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
}
