.evaluation {
    float: right;
    border: 1px solid #ddd;
    background-color: #DDDDDD;
    padding: 0.5em 1em;
}

.evaluation .evaluation_option {
    display: none;
}

.areyousure {
    display: none;
}

.evaluation div.votes span {
    border: 0 solid #DDDDDD;
    cursor: pointer;
    float: left;
    margin: 0 0.2em;
    padding: 0 0.5em;
}

.votes {
    display: inline;
    float: right;
}

.evaluation #voting_plus {
    background-color: LimeGreen;
}

.evaluation #voting_neutral {
    background-color: yellow;
}

.evaluation #voting_negative {
    background-color: red;
}
